body{
    background-color: burlywood;
    /* display: grid; */
}
#a{
    background-color: red;
    height: 4cm;
    width: 4cm;
    text-align:center;
    border: 5px solid black;
    border-style: dotted;
    border-radius: 3vmin;
    
}

#b{
    background-color: rgb(6, 179, 32);
    height: 4cm;
    width: 4cm;
    text-align:center;
    border: 5px solid black;
    border-style: dotted;
    border-radius: 3vmin;

}
#c{
    background-color: rgb(16, 7, 187);
    height: 4cm;
    width: 4cm;
    text-align:center;
    border: 5px solid black;
    border-style: dotted;
    border-radius: 3vmin;

}
#d{
    background-color: rgb(222, 255, 57);
    height: 4cm;
    width: 4cm;
    text-align:center;
    border: 5px solid black;
    border-style: dotted;
    border-radius: 3vmin;

}
#clr{
    display:flex;
    gap: 6cm;
    padding: 5cm 1cm 0cm 2.5cm;
    
}
#A{
  margin-top: 1.5cm;
}
#B{
  margin-top: 1.5cm;
}
#C{
  margin-top: 1.5cm;
}
#D{
  margin-top: 1.5cm;
}