html,body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(45deg,#0a0a0a,#3a4452);
}

.button{
    padding:20px;
    margin:0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    

}
.row{
    margin:8px 0;

}
.row input{
    font-size: 14px;
    margin: 8px;
    padding: 8px 33px;
    /* border: 2px solid black; */
    border-radius: 5px;
    background:transparent ;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}